.page__error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.error__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  width: 200px;
  height: 200px;
}

.error__title {
  font-size: 72px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.error__text {
  font-size: 46px;
  margin-top: 0;
  margin-bottom: 80px;
}

.error__buttons {
  display: flex;
  justify-content: center;
}

.error__buttons button:first-child {
  margin-right: 100px;
}
